@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,body{
  width: 100vw;
  height: 100vh;
}
.wrapper{
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar{
  font-family: 'Open Sans', sans-serif;
  width: 27%;
  height: 70%;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  background-color: rgba(38, 38, 38, 0.92);
  color: white;
}
.calendar-clock{
  width: 100%;
  height: 25%;
  min-height: 70px;
  border-bottom: 3px solid rgb(75 75 75);

  padding:0 10%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5%;


}
#clock-time{
  font-size: 320%;
  font-weight: 300;
  letter-spacing: 1.5px;
}
#clock-date{
  font-size: 120%;
  color: rgb(156 187 208);
  text-decoration: none;

}
.calendar-shedule{
  height: 100%;
  width: 100%;
  /* border: 1px solid #000; */
}