@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li{
  list-style: none;
}
html,body{
  width: 100vw;
  height: 100vh;
}
.wrapper{
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar{
  font-family: 'Open Sans', sans-serif;
  width: 27%;
  height: 65%;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  background-color: rgba(38, 38, 38);
  color: white;
}
.calendar-clock{
  width: 100%;
  height: 30%;
  min-height: 110px;
  border-bottom: 3px solid rgb(75 75 75);

  padding:0 6%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5%;


}
#clock-time{
  font-size: 280%;
  font-weight: 300;
  letter-spacing: 1.5px;
}
#clock-date{
  font-size: 110%;
  color: rgb(156 187 208);
  text-decoration: none;
  padding-left: 1%;
}
.calendar-shedule{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.calendar-date{
  height: 10%;
  min-height: 50px;
  width: 100%;

  
  padding-left:6%;
  padding-right: 15%;
  /* background-color: red; */

  display: flex;
  justify-content: space-between;
  font-size: 120%;

}
.calendar-date-info{
  
  width: auto;
  height: 100%;
  display: flex;
  gap: 5%;
  align-items: center;
}
.calendar-buttons{
  height: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  gap: 50%;
}

.calendar-buttons :first-child{
  height: 45%;
  rotate: -90deg;
}
.calendar-buttons :last-child{
  height: 45%;
  rotate: 90deg;
}

.calendar-grid {
  width: 100%;
  height: 85.5%;
  padding:2% 2%;
  font-size: 120%;
}
.grid-week{
  width: 100%;
  height: 14.2857%;
  display: grid;
  /* background-color: red; */
  grid-template-columns: repeat(7,1fr);
}
.grid-week *{
  height: 100%;
  /* border: 1px solid #000; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.shedule-day-grid{
  z-index: 1;
  width: 100%;
  height: 90%;
  /* border: 1px solid #000; */
  display: grid;
  grid-template-columns: repeat(7,1fr);
  grid-template-rows: repeat(6,1fr);
  gap: 1%;
  background-color: rgba(38, 38, 38);
  
}
.shedule-day-grid *{
  z-index: 3;
  position: relative;
  font-size: 110%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid #000; */
  background-color: rgba(38, 38, 38);
}
.shedule-day-grid *::after {
  z-index: 4;
  overflow: hidden;
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -4.5px;
  /* border: 1px solid rgba(38, 38, 38);  */
}

.circle {
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
  width: 170px;
  height: 170px;
  /* border: 2px solid red; */
  /* background-color: gray; */
  /* background: radial-gradient(gray, transparent); */
  background: radial-gradient(circle, gray 20%, rgba(0, 0, 0, 0) 70%);
  border-radius: 50%;
  pointer-events: none; 
  display: none; 
}
